stages:
  - build_qt
  - build_rust_amd64
  - build_rust_arm64

variables:
  GIT_SUBMODULE_STRATEGY: recursive

Build-Qt:
  image:
    name: carlonluca/procweb-ci:latest
    entrypoint: [""]
  stage: build_qt
  artifacts:
    paths:
      - procweb-qt/build/procweb-1.0.0-x86_64.AppImage
  script:
    - cd procweb-webui
    - ./build.sh
    - cd ..
    - cd procweb-qt
    - mkdir build
    - cd build
    - qt-cmake .. -DCMAKE_BUILD_TYPE=Release -DCMAKE_INSTALL_PREFIX=/usr
    - make
    - make install DESTDIR=AppDir
    - mkdir -p AppDir/usr/share/icons
    - touch AppDir/usr/share/icons/test.png
    - pip3 uninstall appimage-builder --yes
    - pip3 install git+https://github.com/carlonluca/appimage-builder.git@aarch64-fix
    - appimage-builder --recipe ../../appimage-builder/AppImageBuilder_x64.yml

Build-Rust amd64:
  image:
    name: carlonluca/procweb-ci-rust:latest
    entrypoint: [""]
  stage: build_rust_amd64
  artifacts:
    paths:
      - procweb-rust/target/x86_64-unknown-linux-musl/release/procweb-rust
  script:
    - rustup target add x86_64-unknown-linux-musl
    - cd procweb-webui
    - ./build.sh
    - cd ..
    - cd procweb-rust
    - cargo build --release --target=x86_64-unknown-linux-musl

Build-Rust arm64:
  image:
    name: carlonluca/procweb-ci-rust:latest@sha256:6003cf6ec314f006ffeb4d8179eb35c7319783b2e1d044c4c126c36a93f5c4c9
    entrypoint: [""]
  stage: build_rust_arm64
  artifacts:
    paths:
      - procweb-rust/target/aarch64-unknown-linux-musl/release/procweb-rust
  script:
    - rustup target add aarch64-unknown-linux-musl
    - cd procweb-webui
    - ./build.sh
    - cd ..
    - cd procweb-rust
    - cargo build --release --target=aarch64-unknown-linux-musl
  rules:
    - if: '$CI_COMMIT_TAG != null'
      when: always