stages:
  - build_qt
  - build_rust_amd64
  - build_rust_arm64
  - build_rust_armv7

variables:
  GIT_SUBMODULE_STRATEGY: recursive

Build-Qt:
  image:
    name: carlonluca/procweb-ci:latest
    entrypoint: [""]
  stage: build_qt
  artifacts:
    paths:
      - procweb-qt/build/procweb-1.0.0-x86_64.AppImage
      - procweb-webui/dist/procweb-webui
  script:
    - cd procweb-webui
    - ./build.sh
    - cd ..
    - cd procweb-qt
    - mkdir build
    - cd build
    - qt-cmake .. -DCMAKE_BUILD_TYPE=Release -DCMAKE_INSTALL_PREFIX=/usr
    - make
    - make install DESTDIR=AppDir
    - mkdir -p AppDir/usr/share/icons
    - touch AppDir/usr/share/icons/test.png
    - pip3 uninstall appimage-builder --yes
    - pip3 install git+https://github.com/carlonluca/appimage-builder.git@aarch64-fix
    - appimage-builder --recipe ../../appimage-builder/AppImageBuilder_x64.yml

Build-Rust amd64:
  image:
    name: carlonluca/procweb-ci-rust:latest
    entrypoint: [""]
  stage: build_rust_amd64
  artifacts:
    paths:
      - procweb-rust/target/x86_64-unknown-linux-musl/release/procweb-rust
  script:
    - rustup target add x86_64-unknown-linux-musl
    - cd procweb-webui
    - ./build.sh
    - cd ..
    - cd procweb-rust
    - cargo build --release --target=x86_64-unknown-linux-musl
  dependencies:
    - Build-Qt

Build-Rust arm64:
  image:
    name: carlonluca/procweb-ci-rust:latest@sha256:6003cf6ec314f006ffeb4d8179eb35c7319783b2e1d044c4c126c36a93f5c4c9
    entrypoint: [""]
  stage: build_rust_arm64
  artifacts:
    paths:
      - procweb-rust/target/aarch64-unknown-linux-musl/release/procweb-rust
  script:
    - export CARGO_CFG_WINDOWS=1
    - ln -s /usr/bin/ar /usr/bin/aarch64-linux-musl-ar
    - rustup target add aarch64-unknown-linux-musl
    - cd procweb-webui
    - ./build.sh
    - cd ..
    - cd procweb-rust
    - cargo build --release --target=aarch64-unknown-linux-musl
  dependencies:
    - Build-Qt

Build-Rust armv7:
  image:
    name: carlonluca/procweb-ci-rust:latest@sha256:767aef6c0c7ba581eaacfddeee0cd5e615a8b35871b9e0a92740810db3258d13
    entrypoint: [""]
  stage: build_rust_armv7
  artifacts:
    paths:
      - procweb-rust/target/armv7-unknown-linux-gnueabihf/release/procweb-rust
  script:
    - export CARGO_HOME=/ramdisk
    - export CARGO_CFG_WINDOWS=1
    - curl https://sh.rustup.rs -sSf | bash -s -- --default-toolchain=1.67.0 -y
    - rustup target add armv7-unknown-linux-musleabihf
    - cd procweb-webui
    - ./build.sh
    - cd ..
    - cd procweb-rust
    - cargo build --release --target=armv7-unknown-linux-gnueabihf
  dependencies:
    - Build-Qt
