stages:
  - build

variables:
  GIT_SUBMODULE_STRATEGY: recursive

Build:
  image:
    name: gitlab.pihome.lan:5050/opensource/procweb/builder:latest
    entrypoint: [""]
  stage: build
  script:
    - cd procweb-webui
    - ./build.sh
    - cd ..
    - cd procweb-qt
    - mkdir build
    - cd build
    - /opt/Qt-arm64-6.4.0/bin/qt-cmake ..
    - make