stages:
  - build

variables:
  GIT_SUBMODULE_STRATEGY: recursive

Build:
  image:
    name: gitlab.pihome.lan:5050/opensource/procweb/builder:latest
    entrypoint: [""]
  stage: build
  artifacts:
    paths:
      - procweb-qt/build/procweb-1.0.0-aarch64.AppImage
  script:
    - cd procweb-webui
    - ./build.sh
    - cd ..
    - cd procweb-qt
    - mkdir build
    - cd build
    - /opt/Qt-arm64-6.4.0/bin/qt-cmake .. -DCMAKE_BUILD_TYPE=Release -DCMAKE_INSTALL_PREFIX=/usr
    - make
    - make install DESTDIR=AppDir
    - mkdir -p AppDir/usr/share/icons
    - touch AppDir/usr/share/icons/test.png
    - pip3 uninstall appimage-builder --yes
    - pip3 install git+https://github.com/carlonluca/appimage-builder.git@aarch64-fix
    - appimage-builder --recipe ../../appimage-builder/AppImageBuilder_aarch64.yml
