.demo-chart {
    height: 400px;
}

h1 {
    text-align: center;
    margin-bottom: 0em;
}

table {
    width: 70%;
}

.axis-slider {
    width: 30%;
}

#buttonContainer {
    display: flex;
    justify-content: flex-end;
}

.page-element {
    margin-left: 3em;
    margin-right: 3em;
}

#sliderRight {
    margin-left: 2em;
}

#sliderLeft {
    margin-left: 2em;
}

#comboRight {
    margin-left: 2em;
    width: 30%;
}

#comboLeft {
    width: 30%;
}